.first-graph{
  margin-top: 20px;
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.slide-one {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 20px;
}

.slide-one-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.graph-container {
  width: 48%;
}

.view-button {
  align-self: flex-end;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #0056b3;
}

.attendance-trends {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 20px;
}

.view-department-overtime-hours{
  width: 278px;
  height: 40px;
  margin-top: 10px;
  margin-left:735px ;
  border-radius: 4px;
  border-width: 1px;
  padding: 8px;
  gap: 8px;
  background-color: #F8F8F8;
  color: #2e2e2e;
  border: 1px solid #D9D9D9;
  cursor: pointer;
}

