.suspend-employee-form{
    width: 1000px;
    height: 538px;
    top: 353px;
    left: 48px;
    border-radius: 16px;
    border: 2px solid #D9D9D9;
    padding: 20px;
    margin-top: 20px;
}

.first-row{
    display: flex;
    justify-content: space-between;
    width:968px ;
}

.first-col,.second-col{
    display: flex;
    flex-direction: column;
}

.first-col input, .second-col input{
    width: 472px;
    height: 52px;
    padding: 14px 16px 14px 16px;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    outline: none;
}

.first-col label, .second-col label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;
}

.second-row{
    margin-top:20px ;
}

.second-row label,.third-row label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;
}

.second-row select{
    width: 968px;
    height: 52px;
    padding: 14px 16px 14px 16px;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    outline: none;
}

.second-row option{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;
    outline: none;
    }


.third-row{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.third-row input{
    width: 968px;
    height: 124px;
    padding: 16px 580px 89px 16px;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
}

.third-row input::placeholder{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2E2E2E;
}

.fourth-row{
    width: 968px;
    height: Fixed (88px)px;
    top: 426px;
    left: 24px;
    padding: 16px;
    margin-top: 20px;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid #D9D9D9;
    }

    .submit-suspend-form{
        margin-left: 620px;
    }

    .submit-suspend-form .btn-6{
        width: 70px;
        height: 35px;
        padding: 8px ;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
    }

    .submit-suspend-form .btn-7{
        width: 162px;
        height: 35px;
        padding: 8px;
        gap: 8px;
        border-radius: 4px;
        background-color: #FF6464;
    }